<section>
    <div class="container-fluid">
        <h1>Cedula de Inscripción</h1>
        <h2>En la hoja de Datos se deben de llenar los campos requeridos. <br>
           y en la hoja de fotos solo se deben de insertar las imagenes solicitadas
        </h2>
        <iframe src="https://docs.google.com/spreadsheets/d/1VgX88HqCMV9aBERHzYp41xb2C5e4rffv/edit?usp=drive_link&ouid=108201876462905736410&rtpof=true&sd=true" style="width: 50%; height: 500px;">
        </iframe><br>
        <a href="../../../assets/docs/CEDULA_MAXIBASQUET.xlsx" class="button primary">Bajar Cedula</a>
    </div>
</section>