<div class="container-fluid" style="text-align: center; justify-items: center;">
    <h1>Codigo de Sanciones</h1>
    <iframe class="docu" [src]="'../../../assets/Codigo de Sanciones FIMBA Mèxico.pdf'" style="width: 50%; height: 650px;"></iframe>
    <a href="../../../assets/docs/Codigo de Sanciones FIMBA Mèxico.pdf" class="button primary">Bajar PDF</a>
    <h1>Regulación de Jugadores</h1>
    <iframe class="docu" [src]="'../../../assets/docs/Regulacion Jugadores.pdf'" style="width: 50%; height: 650px;"></iframe>
    <a href="../../../assets/Regulacion Jugadores.pdf" class="button primary">Bajar PDF</a>
    <h1>Formato de Renuncia, Compromiso y Responsabilidad</h1>
    <iframe class="docu" [src]="'../../../assets/Waiver Nacional.pdf'" style="width: 50%; height: 650px;"></iframe>
    <a href="../../../assets/docs/Waiver Nacional.pdf" class="button primary">Bajar PDF</a>
</div>
