<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Anuncio Importante</h1>
    <a>
       <h2>No hay excepciones, cualquier duda, puede comunicarse via correo electronico o whatsapp con el delegado de su estado.</h2>
       <img width="40%" class="img-fluid" src="/assets/images/anuncioImportante.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Eliminatorias estatales</h1>
    <a>
       <h2>Fénix de Nayarit 44+ 1er equipo inscrito al nacional con aval de su delegado estatal</h2>
       <img width="50%" class="img-fluid" src="../../../assets/images/fenix.jpg"/>
    </a>
    <a>
       <img width="50%" class="img-fluid" src="../../../assets/images/oaxaca.jpg"/>
    </a>

    <a>
       <img width="50%" class="img-fluid" src="../../../assets/images/monterrey.jpg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white;">
    <h1>Videos de Presentación</h1>
    <iframe width="800px" height="450px" src="../../../assets/images/mayo.mp4"></iframe>
    <iframe width="800px" height="450px" src="../../../assets/images/videoPresMaxBasket2.mp4"></iframe>
</div>        

<div class="container" style="text-align: center; color: white; justify-content: space-between;" >
    <h1>Proximos Eventos</h1>
            <a href="https://fimbaesa.net/">
                <img width="300px" class="img-fluid" src="../../../assets/images/prom2.jpg"/>
            </a>
            <a href="https://ticino2025.com/">
                <img width="300px" class="img-fluid" src="../../../assets/images/logo_suiza.avif"/>
            </a>
            <a>
                <img width="300px" class="img-fluid" src="../../../assets/images/prom1.jpg"/>
            </a>
</div>

