<div class="tribunal-container">

    <h1>Tribunal de Penas</h1>
    
    <div class="directivos-container">
        <div class="card">
            <img src="../../../assets/images/tribunal/luisEnriqueAhumadaNavarro.jpg" alt="Directivo 1">
            <h2>Luis Enrique Ahumada Navarro</h2>
            <p>Presidente</p>
        </div>
        
        <div class="card">
            <img src="../../../assets/images/tribunal/jessicaTeresaLealOsuna.jpg" alt="Directivo 2">
            <h2>Jessica Teresa Leal Osuna</h2>
            <p>Coordinadora de Árbitros</p>
        </div>
        
        <div class="card">
            <img src="../../../assets/images/tribunal/hectorMiguelAlvarezBenitez.jpg" alt="Directivo 3">
            <h2>Hector Miguel Alvarez Benitez</h2>
            <p>Comité Organizador</p>
        </div>
    </div>

</div>