<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 74+ y más</h1>
    <a>
       <h2>a jugar dos de 3 partidos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/1.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 59+ y más, Varonil</h1>
    <a>
       <h2>5 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/2.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 69+ y más Varonil</h1>
    <a>
       <h2>2 Grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/3.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 64+ y más Varonil</h1>
    <a>
       <h2>3 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/4.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 54+ y más Femenil</h1>
    <a>
       <h2>7 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/5.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 54+ y más Varonil</h1>
    <a>
       <h2>5 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/6.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 69+ y más Femenil</h1>
    <a>
       <h2>1 grupo</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/7.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 39+ y más Varonil</h1>
    <a>
       <h2>5 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/8.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 59+ y más Femenil</h1>
    <a>
       <h2>5 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/9.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 44+ y más Varonil</h1>
    <a>
       <h2>8 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/10.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 49+ y más Varonil</h1>
    <a>
       <h2>7 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/11.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 39+ y más Femenil</h1>
    <a>
       <h2>8 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/12.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 74+ y más Femenil</h1>
    <a>
       <h2>A ganar 2 de 3 juegos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/13.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 44+ y más Femenil</h1>
    <a>
       <h2>7 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/14.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 29+ y más Varonil</h1>
    <a>
       <h2>todos contra todos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/15.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 29+ y más Femenil</h1>
    <a>
       <h2>2 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/16.jpeg"/>
    </a>
</div>

<div class="container" style="text-align: center; color: white; justify-content:space-between;">
    <h1>Categoría 34+ y más Varonil</h1>
    <a>
       <h2>3 grupos</h2>
       <img width="40%" class="img-fluid" src="/assets/images/grupos/17.jpeg"/>
    </a>
</div>