<!-- Slider -->
<section>
  <mat-card>
    @defer{
    <app-toolbar (onNewUserEvent)="onClickNewUser()" />
    }@loading(minimum 0.5s) {
    <div class="spinner-container">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
    }
  </mat-card>
</section>

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <ul class="actions special">
      <li>
        <a [routerLink]="['/results']" class="button large wide scrolly-middle">
          Resultados de la Jornada</a
        >
      </li>
    </ul>
    <ul class="actions special">
      <li>
        <a [routerLink]="['/roles']" class="button large wide scrolly-middle">
          Rol de juegos Semi y Finales</a
        >
      </li>
    </ul>
    <!--<ul class="actions special">
      <li>
        <a
          [routerLink]="['/table-Pos']"
          class="button large wide scrolly-middle"
        >
          Roles de Juego</a
        >
      </li>
    </ul>-->
    <!-- <ul class="actions special">
      <li>
        <a [routerLink]="['/finals']" class="button large wide scrolly-middle">
          Organigrama de Finales</a
        >
      </li>
    </ul>-->
    <h2>Campeonato Nacional de Maxibaloncesto</h2>
    <h3>Puebla, Puebla 2025</h3>
    <h4>12 al 17 de Noviembre</h4>
    <p>A la pasion no le importa la edad.</p>
  </div>
</section>

<!-- Spotlight -->
<article id="one" class="spotlight odd accent1">
  <div class="inner">
    <div class="image" data-position="top right">
      <img src="../../assets/images/canchaBasket.jpg" alt="" />
    </div>
    <h2>
      Sedes<br />
      con canchas<br />
      de primer nivel
    </h2>
    <div class="content">
      <h3>Visita todos los lugares <br />donde tendremos juegos</h3>
      <p>Tenemos las mejores canchas para que disfrutes de los juegos</p>
      <ul class="actions">
        <li><a class="button primary accent1">Ver más</a></li>
      </ul>
    </div>
  </div>
</article>

<!-- Spotlight -->
<article id="two" class="spotlight even accent2">
  <div class="inner">
    <div class="image" data-position="top left">
      <img src="../../assets/images/manosbalon.avif" alt="" />
    </div>
    <h2>
      Reglas <br />
      del <br />
      torneo
    </h2>
    <div class="content">
      <h3>Conoce el reglamento <br />del torneo</h3>
      <p>Entérate de como se va a sancionar el torneo</p>
      <ul class="actions">
        <li>
          <a [routerLink]="['/rules']" class="button primary accent2"
            >Ver más</a
          >
        </li>
      </ul>
    </div>
  </div>
</article>

<!-- Spotlight -->
<article id="three" class="spotlight odd accent3">
  <div class="inner">
    <div class="image" data-position="center right">
      <img src="../../assets/images/log_fimba2.png" alt="" />
    </div>
    <h2>
      Convocatoria<br />
      Nivel<br />
      Nacional
    </h2>
    <div class="content">
      <h3>¿Quienes pueden <br />participar?</h3>
      <p>Los jugadores que cumplan con las edades de la Convocatoria</p>
      <ul class="actions">
        <li>
          <a [routerLink]="['/convs']" class="button primary accent3"
            >Ver más</a
          >
        </li>
      </ul>
    </div>
  </div>
</article>

<!-- Spotlight -->
<article id="two" class="spotlight even accent2">
  <div class="inner">
    <div class="image" data-position="top left">
      <img src="../../assets/images/page.jpg" alt="" />
    </div>
    <h2>
      Eventos<br />
      extras<br />
    </h2>
    <div class="content">
      <h3>Clinica de arbitraje</h3>
      <p>Participa y certificate como arbitro de primer nivel.</p>
      <ul class="actions">
        <li>
          <a [routerLink]="['/clinica']" class="button primary accent2"
            >Ver más</a
          >
        </li>
      </ul>
    </div>
  </div>
</article>

<!-- Spotlight -->
<article id="one" class="spotlight odd accent1">
  <div class="inner">
    <div class="image" data-position="top right">
      <img src="../../assets/images/logo_fimba_page.png" alt="" />
    </div>
    <h2>
      Rol<br />
      de<br />
      Juego
    </h2>
    <div class="content">
      <h3>Quienes, cuando <br />y donde juegan</h3>
      <p>
        Enterate de todo lo que necesitas para ver jugar a tus equipos
        favoritos.
      </p>
      <ul class="actions">
        <li><a class="button primary accent1">Ver más</a></li>
      </ul>
    </div>
  </div>
</article>

<!-- Spotlight -->
<article id="two" class="spotlight even accent2">
  <div class="inner">
    <div class="image" data-position="center left">
      <img src="../../assets/images/balonbrilla.jpg" alt="" />
    </div>
    <h2>Inscripciones</h2>
    <div class="content">
      <h3>Cedula de inscripción</h3>
      <p>Descarga el archivo y envialo fimbapuebla&#64;gmail.com</p>
      <p class="cedular">
        Ya se cerraron las inscripciones, gracias por su comprension
      </p>
      <ul class="actions">
        <li><a disabled class="button primary accent2">Descargar</a></li>
      </ul>
    </div>
  </div>
</article>

<!-- Carousel 
   <section id="four" class="wrapper style4">
    <div class="inner">
      <header class="major">
        <h2>Sed adipiscing</h2>
      </header>
      <div class="carousel">
        <article>
          <div class="image" data-position="top center">
            <img src="../../assets/images/pic04.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Magna libero faucibus adipiscing</h3>
            <p>Sed egestas, ante et vulputate lorem ipsum dolor sit amet nullam pede semper est, vitae luctus metus libero<br />
            eu augue. Morbi purus sed libero, faucibus adipiscing, commodo quis, gravida lorem ipsum.</p>
            <ul class="actions special">
              <li><a href="#" class="button primary accent4">Learn more</a></li>
            </ul>
          </div>
        </article>
        <article>
          <div class="image" data-position="center center">
            <img src="../../assets/images/pic05.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Aliquam feugiat sed malesuada</h3>
            <p>Sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed egestas, ante et vulputate<br />
            lorem ipsum dolor sit amet nullam. Adipiscing sed nullam tempus aliquam veroeros.</p>
            <ul class="actions special">
              <li><a href="#" class="button primary accent4">Learn more</a></li>
            </ul>
          </div>
        </article>
        <article>
          <div class="image" data-position="center center">
            <img src="../../assets/images/pic06.jpg" alt="" />
          </div>
          <div class="content">
            <h3>Feugiat lorem ipsum dolor amet</h3>
            <p>Nullam pede semper est vitae luctus metus. Magna lorem ipsum libero eu adipiscing, commodo quis, gravida lorem<br />
            ipsum. Augue morbi purus sed libero, faucibus sed tempus aliquam lorem ipsum dolor amet.</p>
            <ul class="actions special">
              <li><a href="#" class="button primary accent4">Learn more</a></li>
            </ul>
          </div>
        </article>
        <nav>
          <a href="#" class="previous"><span class="label">Previous</span></a>
          <a href="#" class="next"><span class="label">Next</span></a>
        </nav>
      </div>
    </div>
  </section>-->

<!-- Posts 
  <section id="five" class="wrapper">
    <div class="inner">
      <header class="major">
        <h2>Ante libero</h2>
      </header>
      <div class="posts">
        <article>
          <a href="#" class="image"><img src="../../assets/images/pic07.jpg" alt="" /></a>
          <div class="content">
            <h3><a href="#">Sed faucibus</a></h3>
            <p>Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.</p>
            <ul class="actions special">
              <li><a href="#" class="button primary accent1">Learn more</a></li>
            </ul>
          </div>
        </article>
        <article>
          <a href="#" class="image"><img src="../../assets/images/pic08.jpg" alt="" /></a>
          <div class="content">
            <h3><a href="#">Morbi commodo</a></h3>
            <p>Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.</p>
            <ul class="actions special">
              <li><a href="#" class="button primary accent2">Learn more</a></li>
            </ul>
          </div>
        </article>
        <article>
          <a href="#" class="image"><img src="../../assets/images/pic09.jpg" alt="" /></a>
          <div class="content">
            <h3><a href="#">Tempus lorem</a></h3>
            <p>Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.</p>
            <ul class="actions special">
              <li><a href="#" class="button primary accent3">Learn more</a></li>
            </ul>
          </div>
        </article>
        <article>
          <a href="#" class="image"><img src="../../assets/images/pic10.jpg" alt="" /></a>
          <div class="content">
            <h3><a href="#">Libero adipiscing</a></h3>
            <p>Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.</p>
            <ul class="actions special">
              <li><a href="#" class="button primary accent4">Learn more</a></li>
            </ul>
          </div>
        </article>
      </div>
    </div>
    
  </section>-->

<!-- CTA -->
<!--<section id="six" class="wrapper style1">
  <div class="inner">
    <header class="major">
      <h2>Inscribete</h2>
      <p>Envianos tu correo y te daremos detalles del torneo.</p>
    </header>
    <form method="post" action="#" class="combined">
      <input type="email" name="email" id="email" placeholder="tu dirección email" class="alt accent4" />
      <input type="" class="button primary accent4" value="Enviar" />
    </form>
  </div>
</section>-->
