@import '../../assets/css/main.css';

#one {
    background: #F57C00
}

#three {
    background: #ffb23e;
}

#two {
    background: #757575;
}

#six {
    background: #F57C00;
    color: #212121 !important;
}

.content {
    opacity: .7;
}

.cedular {
    color: red;
    font-weight: bold;
    font-size: 1.3em;
}
